@model ProjetoE_CommerceGameFesth.Models.CadastraEndereco

@{
    ViewData["Title"] = "Atualizar";
}

<h1>Atualizar</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Atualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="funcionario.Tipo" class="form-control" />
            <div class="form-group">
                <label asp-for="funcionario.NomeFuncionario" class="control-label"></label>
                <input asp-for="funcionario.NomeFuncionario" class="form-control" />
                <span asp-validation-for="funcionario.NomeFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="funcionario.Telefone" class="control-label"></label>
                <input id="tel" asp-for="funcionario.Telefone" class="form-control tel" placeholder="(00) 0000-0000" />
                <span asp-validation-for="funcionario.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.NumLougradouro" class="control-label"></label>
                <input asp-for="endereco.NumLougradouro" class="form-control" />
                <span asp-validation-for="endereco.NumLougradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.CEP" class="control-label"></label>
                <input id="cep" asp-for="endereco.CEP" class="form-control cep" placeholder="00000-000" />
                <span asp-validation-for="endereco.CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.Bairro" class="control-label"></label>
                <input  asp-for="endereco.Bairro" class="form-control"  />
                <span asp-validation-for="endereco.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.Lougradouro" class="control-label"></label>
                <input asp-for="endereco.Lougradouro" class="form-control" />
                <span asp-validation-for="endereco.Lougradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.NomeUF" class="control-label"></label>
                <input asp-for="endereco.NomeUF" class="form-control" />
                <span asp-validation-for="endereco.NomeUF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.NomeCidade" class="control-label"></label>
                <input asp-for="endereco.NomeCidade" class="form-control" />
                <span asp-validation-for="endereco.NomeCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="funcionario.Email" class="control-label"></label>
                <input asp-for="funcionario.Email" class="form-control" />
                <span asp-validation-for="funcionario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="funcionario.Senha" class="control-label"></label>
                <input asp-for="funcionario.Senha" class="form-control" />
                <span asp-validation-for="funcionario.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="funcionario.ConfirmaSenha" class="control-label"></label>
                <input asp-for="funcionario.ConfirmaSenha" class="form-control" />
                <span asp-validation-for="funcionario.ConfirmaSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
                <a asp-action="Index"  value="Voltar" class="btn btn-info" >Voltar</a>
            </div>
        </form>
    </div>
</div>
