@model ProjetoE_CommerceGameFesth.Models.CadastraEndereco

@{
    ViewData["Title"] = "Atualizar";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ProjetoE_CommerceGameFesth</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <style>
        h4 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        .form-container {
            width: 100%;
            max-width: 900px;
            padding: 20px;
            background-color: white;
            border: 2px solid dodgerblue;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 50px auto;
        }

        .form-group {
            padding: 10px;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            font-size: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            border-color: dodgerblue;
        }.contrrol-label{
            font-size: 20px;
        }

        .btn-primary {
            background-color: dodgerblue;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn-primary:hover {
            background-color: #007bff;
        }

        .btn-info {
            background-color: #17a2b8;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn-info:hover {
            background-color: #138496;
        }

        .text-danger {
            color: red;
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 10px; /* Espaçamento entre os botões */
            padding: 10px;
        }
    </style>
</head>

<div class="form-container">
    <h4>Atualizar informações</h4>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <form asp-action="AtualizarP">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="funcionario.NomeFuncionario" class="control-label">Nome do Fucionário</label>
                    <input asp-for="funcionario.NomeFuncionario" class="form-control" />
                    <span asp-validation-for="funcionario.NomeFuncionario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funcionario.Telefone" class="control-label">Telefone</label>
                    <input asp-for="funcionario.Telefone" class="form-control" />
                    <span asp-validation-for="funcionario.Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.NumLougradouro" class="control-label">Email</label>
                    <input asp-for="endereco.NumLougradouro" class="form-control" />
                    <span asp-validation-for="endereco.NumLougradouro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.CEP" class="control-label">Senha</label>
                    <input asp-for="endereco.CEP" class="form-control" />
                    <span asp-validation-for="endereco.CEP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.Bairro" class="control-label">Confirmação de Senha</label>
                    <input asp-for="endereco.Bairro" class="form-control" />
                    <span asp-validation-for="endereco.Bairro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.Lougradouro" class="control-label">Confirmação de Senha</label>
                    <input asp-for="endereco.Lougradouro"  class="form-control" />
                    <span asp-validation-for="endereco.Lougradouro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.CEP" class="control-label">Confirmação de Senha</label>
                    <input asp-for="endereco.CEP" class="form-control" />
                    <span asp-validation-for="endereco.CEP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.NomeUF" class="control-label">Confirmação de Senha</label>
                    <input asp-for="endereco.NomeUF" class="form-control" />
                    <span asp-validation-for="endereco.NomeUF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.NomeCidade" class="control-label">Confirmação de Senha</label>
                    <input asp-for="endereco.NomeCidade" class="form-control" />
                    <span asp-validation-for="endereco.NomeCidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endereco.NomeUF" class="control-label">Confirmação de Senha</label>
                    <input asp-for="endereco.NomeUF" class="form-control" />
                    <span asp-validation-for="endereco.NomeUF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funcionario.Email" class="control-label">Confirmação de Senha</label>
                    <input asp-for="funcionario.Email" class="form-control" />
                    <span asp-validation-for="funcionario.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funcionario.Email" class="control-label">Confirmação de Senha</label>
                    <input asp-for="funcionario.Email" class="form-control" />
                    <span asp-validation-for="funcionario.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="funcionario.ConfirmaSenha" class="control-label"></label>
                    <input asp-for="funcionario.ConfirmaSenha" class="form-control" />
                    <span asp-validation-for="funcionario.ConfirmaSenha" class="text-danger"></span>
                </div>
                <div class="form-group buttons">
                    <input type="submit" value="Atualizar" class="btn btn-outline-info" />
                    <a asp-action="Index" value="Voltar" class="btn btn-outline-primary">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
