@model ProjetoE_CommerceGameFesth.Models.Cliente
@{
    ViewData["Title"] = "Atualizar";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ProjetoE_CommerceGameFesth</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <style>
        h4 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        .form-container {
            width: 100%;
            max-width: 900px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            margin: 50px auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            padding: 10px;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-primary {
            background-color: dodgerblue;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .btn-primary:hover {
                background-color: #007bff;
            }

        .btn-info {
            background-color: #17a2b8;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .btn-info:hover {
                background-color: #138496;
            }

        .text-danger {
            color: red;
        }

        .button {
            display: flex;
            justify-content: center;
            gap: 10px; /* Espaçamento entre os botões */
            padding: 10px;
        }

    </style>
</head>

<div class="form-container">
    <h4>Atualizar informações</h4>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <form asp-action="AtualizarDados">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="IdCliente" />
                    <input type="hidden" asp-for="NomeCliente" />
                    <input type="hidden" asp-for="Nascimento" />
                    <input type="hidden" asp-for="Nascimento" />
                    <label asp-for="NomeCliente" class="control-label">Nome do Cliente</label>
                    <input asp-for="NomeCliente" class="form-control" />
                    <span asp-validation-for="NomeCliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label">Telefone</label>
                    <input id="telefone" asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                @if (ViewBag.Sexo == "M")
                {
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Sexo" value="M" checked>
                        <span class="form-check-label">Masculino</span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Sexo" value="F">
                        <span class="form-check-label">Feminino</span>
                    </label>
                }
                else
                {
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Sexo" value="M">
                        <span class="form-check-label">Masculino</span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Sexo" value="F" checked>
                        <span class="form-check-label">Feminino</span>
                    </label>
                }
                <div class="button">
@*                     <a asp-action="PainelCliente" value="Atualizar" class="btn btn-outline-primary">Voltar</a> *@
                    <input type="submit" value="Atualizar" class="btn btn-outline-primary" />
                    <a asp-action="PainelCliente" value="Voltar" class="btn btn-outline-info">Voltar</a>
                </div>
            </form>

        </div>
    </div>
</div>






