<!-- AOS Library CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

<!-- AOS Library JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        AOS.init({
            duration: 1200, // Duração da animação em milissegundos
        });
    });
</script>

<section class="py-3 py-md-5 py-xl-8" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center" data-aos="zoom-in">Gamefesth</h2>
                <p class="text-secondary mb-5 text-center lead fs-4" data-aos="fade-left">
                    Liberte o Deus Gamer em Você
                </p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" data-aos="fade-right">
            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6" data-aos="fade-in">
                <img class="img-fluid rounded border border-dark" loading="lazy" src="https://i.pinimg.com/736x/f6/55/44/f6554427dfc8dbe5a39c7d3ec67000ab.jpg" alt="sobre1">
            </div>
            <div class="col-12 col-lg-6 col-xxl-6">
                <div class="row justify-content-lg-end">
                    <div class="col-12 col-lg-11">
                        <div class="about-wrapper" data-aos="slide-up">
                            <p class="lead mb-4 mb-md-5">
                                Na Gamefesth, somos mais do que uma empresa; somos uma comunidade de entusiastas apaixonados que celebram a cultura gamer em sua forma mais vibrante. Fundada na interseção entre o mundo dos jogos e a tecnologia de ponta, nossa marca é um tributo ao deus Hefesto, o artesão divino, cuja essência é incorporada em cada produto que criamos.

                            </p>
                            <div class="row gy-4 mb-4 mb-md-5">
                                <div class="col-12 col-md-6" data-aos="zoom-in">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-primary text-center mb-2">370+</h3>
                                            <p class="fw-bold text-center m-0">Colaboradores</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6" data-aos="zoom-in">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-primary text-center mb-2">18 mil+</h3>
                                            <p class="fw-bold text-center m-0">Cliente satisfeitos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .bg-dark {
        background-color: #000 !important; /* Fundo escuro */
        width: 100vw; /* Cobrir toda a largura da viewport */
        margin-left: calc(50% - 50vw); /* Centralizar */
        margin-right: calc(50% - 50vw); /* Centralizar */
    }

    body {
        overflow-x: hidden;
    }

</style>

<section class="bg-dark text-white py-3 py-md-5" data-aos="fade-up">
    <div class="container-fluid px-3 px-md-5" data-aos="fade-up">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <!-- Coluna para o texto, que agora será exibida primeiro em telas grandes -->
            <div class="col-12 col-lg-6 order-lg-first">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-10">
                        <h2 class="mb-3" data-aos="fade-right">Sobre nós</h2>
                        <p class="lead fs-4 mb-3 mb-xl-5" data-aos="fade-left">
                            A Gamefesth é uma fornecedora de produtos de TI com sede em São Paulo, de propriedade orgulhosamente brasileira. bens e serviços, operando desde 1991. Nossa base de clientes abrange pessoas físicas, jurídicas e jogadores apaixonados por jogos digitais. Fornecemos soluções completas de TI , centradas em hardware de alta qualidade e performace e atendimento ao cliente excepcional.
                        </p>
                        <div class="d-flex align-items-center mb-3" data-aos="zoom-in">
                            <div class="me-3 text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                            <div>
                                <p class="fs-5 m-0">Preços justos</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3" data-aos="zoom-in">
                            <div class="me-3 text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                            <div>
                                <p class="fs-5 m-0">As melhores marcas</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4 mb-xl-5" data-aos="zoom-in">
                            <div class="me-3 text-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                            <div>
                                <p class="fs-5 m-0">Atendimento especializado.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Coluna para a imagem, que será exibida depois do texto em telas grandes -->
            <div class="col-12 col-lg-6 order-lg-last" data-aos="fade-in">
                <img class="img-fluid rounded" loading="lazy" src="/Imagens/logoamefesthdeitadafundopreto.png" alt="About 2">
            </div>
        </div>
    </div>
</section>

<section class="py-3 py-md-5" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5" data-aos="fade-right">
                <img class="img-fluid rounded" loading="lazy" src="https://images.vexels.com/media/users/3/188534/isolated/preview/68ef69c23c50af4c80c64294d96b3900-deus-grego-de-hephaistos.png" alt="About 1" id="imagem" onclick="playSound()">
            </div>

            <audio id="meuSom">
                <source src="/js/Anvil Sound Effect [Minecraft] (320).mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

            <script>
                function playSound() {
                    var audio = document.getElementById("meuSom");
                    audio.play();
                }
            </script>

            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3" data-aos="fade-left">Deixe que os Deuses te guie</h2>
                        <p class="lead fs-4 text-secondary mb-3" data-aos="fade-up">
                            Garantimos a mais alta qualidade dos produtos que vendemos. Várias décadas de operação bem-sucedida e milhões de clientes satisfeitos nos permitem ter certeza disso. Além disso, todos os itens que comercializamos passam por um rigoroso controle de qualidade, para que nenhuma incompatibilidade de características possa escapar aos olhos de nossos profissionais.(até os Deuses vão sentir inveja)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

